QWidget {
  background-color: #191923;
}

QLabel {
  /* change to white later? CDD1DE */
  color: white;
}

QPushButton {
  background-color: #bf1363;
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  width: 200px;
  padding: 6px 4px;
  margin-top: 4px;
  font-weight: bold;
}

QLineEdit {
  background-color: white;
  color: black;
  width: 200px;
  padding: 4px;
  margin-top: 4px;
  border: none;
  outline: none;
}
